header{
  background-color: #333333;
  color: white;
  height: 20px;
  padding: 10px;
}

ul{
    list-style: none;
}

ul, li{
  display: inline;
  padding: 10px;
}

a{
  text-decoration: none;
  color:white;
}

a:hover{
  color:yellow;
}

.card{
  background-image: linear-gradient(to top right, #A1C4FD, #C2E9FB);
}

.slider-img{
width:97%;
height:97%;
margin: 20px 20px 20px 20px;
}

.image{
  float:left;
  width:200px;
  height:200px;
  margin: 0px 20px 10px 20px;
}

p{
  column-count: 4;
  column-rule: 2px solid black;
  column-fill: auto;
  text-align: justify;
  margin: 0px 20px 10px 20px;
  height: 398px;
}

footer {
  background-color: black;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 13px;
}
